<div class="all">
<h2>Webbutveckling - Ramschema</h2>
<div class="search">
<label for="search">Sök:</label>
<input type="text" id="search" placeholder="Sök efter kurskod eller namnet" [(ngModel)]="searchValue" (input="applySearch()")>
</div>

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Namn</th>
            <th>Progression</th>
            <th>Syllabus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of searchedCourses">
            <td>{{ course.code }}</td>
            <td>{{ course.coursename }}</td>
            <td>{{ course.progression }}</td>
            <td><a href="{{ course.syllabus }}" target="_blank">Länk till kursplan</a></td>
        </tr>
    </tbody>
</table>
</div>